.kcCV80nxbUAARzqj7qVcb {
    background: rebeccapurple;
}

._2GXRsTIG4nMB1tUMK7tOKq {
    padding: 10px 24px;
}

.hAeHEdXKmT0alQpHqw4gh {
    color: white;
    text-decoration: none;
}

._2J64xGMmNi1OdQ4Bj2rKvu {
    list-style: none;
    margin: 24px 0 0 0;
    padding: 0;
}

._2J64xGMmNi1OdQ4Bj2rKvu li {
    display: inline;
    margin-right: 16px;
}

._2J64xGMmNi1OdQ4Bj2rKvu li a {
    color: #e0e0e0;
    text-decoration: none;
}

._2J64xGMmNi1OdQ4Bj2rKvu li a:hover {
    color: white;
    text-decoration: underline;
}

main {
    padding: 24px;
}
